# https://developers.home-assistant.io/docs/add-ons/configuration#add-on-config
name: HAsync - Home Assistant Manager
version: "1.0.6"
slug: example
description: Advanced Home Assistant management interface
url: "https://github.com/Dodoooh/hasync-test/tree/main/example"
arch:
  - armhf
  - armv7
  - aarch64
  - amd64
  - i386
init: false
map:
  - share:rw
options:
  message: "Hello world..."
schema:
  message: "str?"
